
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

html {
    height: 100%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

body {
    font: 14px/18px sans-serif;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
    height: 50px;
    background: #0D6EFD;
    color: white;
}

.header .nav-link {
    color: white;
}

.header .nav-link:hover {
    text-decoration: underline;
}
.header.admin{
    height: 50px;
    background: green;
    color: white;
}

/* Middle
-----------------------------------------------------------------------------*/
.content {
    padding: 0 0 100px;
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
    width: 1000px;
    margin: -50px auto 0;
    height: 50px;
    background: #6C757D;
    position: relative;
}

.h100 {
    height: 100% !important;
}

.mh800 {
    min-height: 800px;
}

.post {
    margin-bottom: 20px;
    padding: 15px;
    background: #eee;
}

.post h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}
.post-one time,
.post time {
    margin-bottom: 15px;
    display: block;
    color: #999;
}
.inline{
    display: inline;
}